---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
// import Buttons from "../components/Buttons.astro"
import Footer from "../components/Footer.astro";
// import Artistpicture from "../components/Artistpicture.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";

const data = await fetch("https://dzfdqpsafiwmvrwgvplo.supabase.co/rest/v1/single_artist?day=eq.thursday", {
  method: "GET",
  headers: {
    apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6ZmRxcHNhZml3bXZyd2d2cGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTQyNjAsImV4cCI6MjAyNjA3MDI2MH0.fFTeLkcvljoaUfovyl9bdu3eupBIVR6cu41Ure9RVFE",
  },
}).then((res) => res.json());
console.log(data);
---

<!-- <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lineup 2024</title>
  </head>-->
<body>
  <Navigation />
  <main>
    <Hero picPath="../hero_images/lineup.webp" heroText="Lineup 2024" />

    <MainLayout title="">
      <!--Skriv alt indhold her - vent måske med hero eller prøv at lave den  -->
      <!--<div class="hero">
 </div>
 <div class="gradient">
  <h1>Lineup 2024</h1>
 </div>
  -->
      <div class="days">
        <h3>THURSDAY</h3>
        <h3>FRIDAY</h3>
        <h3>SATURDAY</h3>
      </div>

      <section class="artists">
        {
          data.map((artist) => {
            return <Card data={artist} name={artist.name} imgPath={`${artist.day}/${artist.image}`} />;
            //return <Artistpicture data={artist} />;
          })
        }
        <div class="artist_list">
          <h4>AJA GULRIS <span class="dot"></span> AJA GULRIS</h4>
        </div>
      </section>

      <!-- <Buttons variant="primary" size="small">For newsletter</Button>
			<Buttons variant="secondary" size="large">For lineup site </Button>-->
    </MainLayout>
  </main>
  <Footer />
</body>

<style>
  .hero {
    background-image: url("/hero_images/lineup.webp");
    background-size: cover;
    height: 300px;
    background-position: center;
    justify-content: center;
  }

  .gradient h1 {
    padding-top: 17rem;
  }

  .gradient {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 55%;
    background: linear-gradient(to bottom: ;, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  }

  h3 {
    padding-top: 5rem;
    padding-bottom: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-weight: 200;
  }

  .days {
    display: flex;
    justify-content: space-between;
  }

  h4 {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3rem;
    font-weight: 200;
  }
  .dot {
    padding: 1rem;
  }

  .dot::after {
    content: " ·";
  }
</style>
