---
import "../styles/style.css";
import MainLayout from "../layouts/MainLayout.astro";
import Buttons from "../components/Buttons.astro";
import Footer from "../components/Footer.astro";
import Artistpicture from "../components/Artistpicture.astro";
import Navigation from "../components/Navigation.astro";
import Hero from "../components/Hero.astro";
import Card from "../components/Card.astro";

const fetchData = async (day) => {
  const response = await fetch(`https://dzfdqpsafiwmvrwgvplo.supabase.co/rest/v1/single_artist?day=eq.${day}`, {
    method: "GET",
    headers: {
      apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR6ZmRxcHNhZml3bXZyd2d2cGxvIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTA0OTQyNjAsImV4cCI6MjAyNjA3MDI2MH0.fFTeLkcvljoaUfovyl9bdu3eupBIVR6cu41Ure9RVFE",
    },
  });
  return response.json();
};

const dataThursday = await fetchData("thursday");
const dataFriday = await fetchData("friday");
const dataSaturday = await fetchData("saturday");
---

<!-- <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lineup 2024</title>
  </head>-->
<MainLayout title="Lineup 2024">
  <Hero picPath="/hero_images/lineup.webp" heroText="Lineup 2024" />
  <div class="max_width">
    <div class="days">
      <div class="thur">
        <h3>THURSDAY</h3>
      </div>
      <div class="fri">
        <h3>FRIDAY</h3>
      </div>
      <div class="sat">
        <h3>SATURDAY</h3>
      </div>
    </div>

    <div id="day">
      <h3>THURSDAY</h3>
    </div>
    <section class="artists">
      <div class="grid-container">
        {
          dataThursday.map((artist) => {
            return <Card name={artist.name} imgPath={`/${artist.day}/${artist.image}`} slug={artist.slug} />;
          })
        }
      </div>
      <div class="artist_list">
        <h4>
          ANNA LOGIC<span class="dot"></span>
          BOOGIE ROOCKIE<span class="dot"></span>DEE BROWN <span class="dot"></span> DJ SEA VIEW<span class="dot"></span> DJUMA SOUND SYSTEM <span class="dot"></span> ESKI <span class="dot"></span>
          HARRSISON HEAT <span class="dot"></span> LUCKY LUBE
        </h4>
      </div>

      <div class="buttons">
        <Buttons variant="secondary" size="large">PLAYLIST OF THE DAY</Buttons><Buttons variant="secondary" size="large">DOWNLOAD PROGRAM</Buttons>
      </div>

      <div id="day2">
        <h3>FRIDAY</h3>
      </div>
    </section>
    <section>
      <div class="grid-container">
        {
          dataFriday.map((artist) => {
            return <Card name={artist.name} imgPath={`/${artist.day}/${artist.image}`} slug={artist.slug} />;
            //return <Artistpicture data={artist} />;
          })
        }
      </div>
    </section>
    <div class="artist_list">
      <h4>
        RSS DISCO<span class="dot"></span>
        RICHIE HAWTON<span class="dot"></span>POWERSTRANGER <span class="dot"></span> ANDHIM<span class="dot"></span> DJ SEINFIELD <span class="dot"></span> FRIDA DARKO <span class="dot"></span>
        OKINE <span class="dot"></span> FAVORITE THINGS
      </h4>
    </div>

    <div class="buttons">
      <Buttons variant="secondary" size="large">PLAYLIST OF THE DAY</Buttons><Buttons variant="secondary" size="large">DOWNLOAD PROGRAM</Buttons>
    </div>

    <div id="day3">
      <h3>SATURDAY</h3>
    </div>
    <section>
      <div class="grid-container">
        {
          dataSaturday.map((artist) => {
            return <Card name={artist.name} imgPath={`/${artist.day}/${artist.image}`} slug={artist.slug} />;
            //return <Artistpicture data={artist} />;
          })
        }
      </div>
    </section>
    <div class="artist_list">
      <h4>
        DARWIN<span class="dot"></span>
        MALTE SANGAARD<span class="dot"></span>YUNG SINGH<span class="dot"></span>KERELA DUST<span class="dot"></span>MORTOX SELECTA MAL <span class="dot"></span>OKINE <span class="dot"></span>
        RUSSEL E.L. BUTLER<span class="dot"></span> TADOH
      </h4>
    </div>

    <div class="buttons">
      <Buttons variant="secondary" size="large">PLAYLIST OF THE DAY</Buttons><Buttons variant="secondary" size="large">DOWNLOAD PROGRAM</Buttons>
    </div>
  </div>
</MainLayout>
<Footer />

<style>
  .max_width {
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
  }
  .thur,
  .fri,
  .sat {
    display: inline-block;
  }

  .thur:hover,
  .fri:hover,
  .sat :hover {
    text-decoration: underline;
    color: var(--light_grey);
  }

  h3 {
    font-weight: 200;
  }
  .days {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    padding-bottom: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  @media screen and (min-width: 769px) {
    .days {
      display: flex;
      justify-content: space-between;
      padding-top: 6rem;
      padding-bottom: 4rem;
      padding-left: 35rem;
      padding-right: 35rem;
    }
  }

  #day,
  #day2,
  #day3 {
    padding-bottom: 1rem;
    padding-top: 0rem;
    text-align: left;
  }

  .artist_list {
    text-align: center;
  }

  h4 {
    padding-bottom: 2rem;
    font-weight: 200;
    line-height: 2.5;
  }

  .dot {
    padding: 1rem;
  }

  .dot::after {
    content: " ·";
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 5rem;
  }

  @media screen and (min-width: 769px) {
    .grid-container {
      align-self: stretch;
      object-fit: cover;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
      grid-row-gap: 0px; /* Adjust the gap between rows */
      grid-column-gap: 35px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Function to scroll to the specified target element
    function scrollToElement(targetId) {
      var targetElement = document.getElementById(targetId);
      if (targetElement) {
        targetElement.scrollIntoView({ behavior: "smooth", block: "start" });
      }
    }

    // Function to add click event listener to trigger element
    function addClickListener(triggerClass, targetId) {
      var triggerElement = document.querySelector(triggerClass);
      if (triggerElement) {
        triggerElement.addEventListener("click", function () {
          scrollToElement(targetId);
        });
      }
    }

    // Add click event listeners to trigger elements
    addClickListener(".thur", "day");
    addClickListener(".fri", "day2");
    addClickListener(".sat", "day3");
  });
</script>
